@model FormApplication.Entities.Concrete.User
    @{
        ViewBag.Title = "Register";
    }

  
    <!DOCTYPE html>
    <html>

    <head>
        <title>Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    </head>

    <body>
        <form asp-controller="User" asp-action="Register" method="post">
            <div class="form-group">
                <label asp-for="User.Username"></label>
                <span asp-validation-for="User.Username"></span>
                <input required asp-for="User.UserPassword" class="form-control" placeholder="UsernameName" />
                <span asp-validation-for="User.UserPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.UserMail"></label>
                <input required asp-for="User.UserMail" class="form-control" placeholder="User Mail" />
                <span asp-validation-for="User.UserMail"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName"></label>
                <input asp-for="User.FirstName" class="form-control" placeholder="User Firstname" />
                <span asp-validation-for="User.Firstname"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName"></label>
                <input asp-for="User.LastName" class="form-control" placeholder="User LastName" />
                <span asp-validation-for="User.LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Age"></label>
                <input asp-for="User.Age" class="form-control" placeholder="User Age" />
                <span asp-validation-for="User.Age"></span>
            </div>
            <input type="submit" value="Register" class="btn btn-xs btn-success" />
        </form>

    </body>
</html>