@model FormApplication.MvcWeb.Models.FormListViewModel

@{
    ViewBag.Title = "Index";
   
}

<!DOCTYPE html>
<html>

<head>
    <title>Form Listesi</title>
</head>
<body>
    <div>
       
    
    </div>
</body>

</html>


